#pt-map {
    width: var(--map-width);
    min-width: var(--map-min-width);
    height: var(--map-height);
    margin: auto;
}

.center-content{
    width: var(--content-width);
    min-width: var(--content-min-width);
    margin: auto;
}
#pt-content {
    margin-top: 10px;
}

#pt-layer-select {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px 0 0 20px;
    z-index: 2;
}

#pt-layer-list {
    display: inline-flex;
    list-style: none;
    margin-bottom: 0;
}

.pt-layer-button {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: var(--gray-600);
    width: 150px;
    height: 50px;
    border: none;
    border-left: 1px solid var(--gray-200);
    background-color: rgba(255, 255, 255, 0.8);
}

.pt-layer-button:hover {
    color: white;
    background-position: left;
}

.route-item {
    width: 90%;
    margin: 0 auto 20px auto;
    border-radius: 5px;
    box-shadow: 1px 0 6px var(--gray-300);
    overflow: hidden
}

.route-item:hover {
    box-shadow: 3px 2px 6px var(--gray-400);
    transition: all 0.2s ease-out;
}

.icon {
    color: inherit;
    background-repeat: no-repeat;
    transition: color .1s ease;
}

.link-icon {
    color: inherit;
    background-repeat: no-repeat;
    transition: none;
}

.inline-block-right {
    display: inline-block;
    float: right;
}

.icon-bus {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-image: url("../images/bus_icon.svg");
}

.icon-tram {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-image: url("../images/tram_icon.svg");
}

.route-item-icon {
    display: inline-flex;
    align-items: center;
    width: 180px;
    padding: 5px 30px 5px 15px;
    font-size: 20px;
    color: white;
    /*background-color: var(--bus-orange);*/
}

.bus-selected {
    color: white;
    background: var(--bus-orange);
}

.tram-selected {
    color: white;
    background: var(--tram-green);
}

.train-selected {
    color: white;
    background: var(--train-blue);
}

.bus-left-border {
    border-left: 10px solid var(--bus-orange);
}

.tram-left-border {
    border-left: 10px solid var(--tram-green);
}

.train-left-border {
    border-left: 10px solid var(--train-blue);
}

.bus-linear-background {
    background: linear-gradient(to right, var(--bus-orange) 50%, rgba(255, 255, 255, 0.8) 50%) right;
    background-size: 200%;
    transition: all 0.2s ease-out;
}

.tram-linear-background {
    background: linear-gradient(to right, var(--tram-green) 50%, rgba(255, 255, 255, 0.8) 50%) right;
    background-size: 200%;
    transition: all 0.2s ease-out;
}

.train-linear-background {
    background: linear-gradient(to right, var(--train-blue) 50%, rgba(255, 255, 255, 0.8) 50%) right;
    background-size: 200%;
    transition: all 0.2s ease-out;
}

.route-item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    transition: all .4s ease-out;
}

.bus-route-title-expend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-right: 20px;
    /*background-color: var(--bus-orange);*/
}

.bus-bg {
    background-color: var(--bus-orange);
}

.tram-bg {
    background-color: var(--tram-green);
}

.train-bg {
    background-color: var(--train-blue);
}

.route-item-title:hover{
    color: white;
    background-position: left;
}

.route-item-content {
    font-weight: 500;
    padding: 10px 10px;
    background-color: var(--gray-200);
}

.route-item-content .timetable-link:hover {
    color: red;
    cursor: pointer;
}

.collapse {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.expand {
    overflow: hidden;
    max-height: 100px;
    transition: max-height 0.2s ease-out;
}

#bus-content h1 {
    font-weight: normal;
    height: var(--tab-header-height);
    line-height: var(--tab-header-height);
}

#pt-select {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.selectize-input.focus,
.selectize-input:hover{
    border-color: var(--gray-800);
    box-shadow: 0 0 0 2px rgb(52 58 64 / 50%);
    transition: all 0.2s ease-out;
}

#pt-mode-select-wrapper {
    width: 20%;
    margin-right: 6px;
}

#pt-route-select-wrapper {
    width: 68%;
    margin-right: 6px;
}

#clear-button {
    display: inline-block;
    font-size: 16px;
    color: var(--gray-200);
    background-color: var(--gray-800);
    width: 10%;
    height: 36px;
    border: none;
    border-radius: 5px;
}

#clear-button:hover {
    background-color: var(--gray-700);
    box-shadow: 0 0 0 2px var(--gray-700);
    transition: all 0.1s ease-out;
}

#clear-button:active {
    box-shadow: 0 0 0 0 var(--gray-700);
}

#clear-button:focus,
.pt-layer-button:focus {
    outline: none;
}

#routes-list {
    margin-top: 20px;
    margin-bottom: 300px;
}

.pt-popup-content {
    font-size: 14px;
}



